#connect-container {
    float: left;
    width: 400px
}

#connect-container div {
    padding: 5px;
}

#console-container {
    float: left;
    margin-left: 15px;
    width: 300px;
}

.container {
    clear: both;
}

.container input {
    width: 100%;
    clear: both;
}

#console {
    border: 1px solid #CCCCCC;
    border-right-color: #999999;
    border-bottom-color: #999999;
    height: 170px;
    overflow-y: scroll;
    padding: 5px;
    width: 200%;
}

#playerHand {
    border: 1px solid #CCCCCC;
    border-right-color: #999999;
    border-bottom-color: #999999;
    height: 120px;
    padding: 5px;
    width: 200%;
}

#dealerHand {
    border: 1px solid #CCCCCC;
    border-right-color: #999999;
    border-bottom-color: #999999;
    height: 120px;
    padding: 5px;
    width: 200%;
}

#otherHand1 {
    border: 1px solid #CCCCCC;
    border-right-color: #999999;
    border-bottom-color: #999999;
    height: 120px;
    padding: 5px;
    width: 200%;
}

#otherHand2 {
    border: 1px solid #CCCCCC;
    border-right-color: #999999;
    border-bottom-color: #999999;
    height: 120px;
    padding: 5px;
    width: 200%;
}

#console p {
    padding: 0;
    margin: 0;
}

#info-container {
    font-size: 10px;
}

label {
    display: block;
    width: 400px;
}